.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 750ms;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  max-width: 100vh;
  height: 581px;
  max-height: 100vh;
  border-radius: 4px;
  padding: 40px;
  background-color: #ffffff;
  transition: transform 1000ms;
  
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
  }
}
.user-meta {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.meta {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  text-align: 1.17;
  color: #757575;
  transition: border-color var(--hover-focus-decor-func);

  &:focus {
    border-color: var(--primary-accent-color);
    outline: none;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--hover-focus-decor-func);

    .meta:focus + & {
      fill: var(--primary-accent-color);
    }
  }

  &-wrap {
    position: relative;
    margin-bottom: 10px;
  }
}

.comment {
  resize: none;
  margin-bottom: 20px;
  min-height: 120px;
  padding: 12px 16px;
}

.agreement {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &-link {
    color: var(--primary-accent-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 1px solid #757575;
    border-radius: 2px;
    transition: background-color var(--hover-focus-decor-func);
    transition: border var(--hover-focus-decor-func);
    
    .hidden-check:checked + .agreement & {
      background-color: var(--primary-accent-color);
      border: none;
    }
  }
}

.check-icon {
  fill: transparent;
  transition: fill var(--hover-focus-decor-func);
  
  .hidden-check:checked + .agreement & {
    fill: var(--secondary-accent-color);
  }
}

.send-button {
  width: 200px;
  height: 50px;
  align-self: center;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  background-color: inherit;
  cursor: pointer;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill var(--hover-focus-decor-func);
  
  .close-button:hover &,
  .close-button:focus & {
    fill: var(--primary-accent-color);
  }
}
