.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
  
    &--footer-social,
    &--subscribe {
      color: var(--secondary-accent-color);
    margin-bottom: 20px;
  }
}