.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.client-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--hover-focus-decor-func);
}

.client-icon {
  fill: var(--primary-icon-color);
  transition: fill var(--hover-focus-decor-func);
}

.client-link:hover .client-box,
.client-link:focus .client-box {
  border-color: var(--primary-accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--primary-accent-color);
}